<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @mother_tongue.content %>
</p>

<%= link_to 'Edit', edit_mother_tongue_path(@mother_tongue) %> |
<%= link_to 'Back', mother_tongues_path %>
