<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @favourite_drink.content %>
</p>

<%= link_to 'Edit', edit_favourite_drink_path(@favourite_drink) %> |
<%= link_to 'Back', favourite_drinks_path %>
