<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @order_alignment.content %>
</p>

<%= link_to 'Edit', edit_order_alignment_path(@order_alignment) %> |
<%= link_to 'Back', order_alignments_path %>
