<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @skin_base_tone.content %>
</p>

<%= link_to 'Edit', edit_skin_base_tone_path(@skin_base_tone) %> |
<%= link_to 'Back', skin_base_tones_path %>
